.search-text {
    padding: 5px;
}
.ez-dropdown {
    width: 100%;
    .dropdown-toggle {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .dropdown-menu {
        width: 100%;
        .ez-dropdown-items {
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .dropdown-item {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

