<div class="ez-dropdown">
  <div #ezDropdown class="dropdown">
    <button [ngClass]="{'btn-danger': ddConfig?.disabled, 'btn-success': !ddConfig?.disabled}" [disabled]="ddConfig?.disabled"
      [title]="selectedItem[vpn] || ddlText" class="btn btn-primary dropdown-toggle form-control" type="button" id="dropdownBtn"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{selectedItem[vpn] || ddlText}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownBtn">
      <div *ngIf="ddConfig?.searchable" class="search-text">
        <input #searchTextInput [(ngModel)]="searchText" type="text" name="searchText" class="form-control" placeholder="Search..." />
      </div>
      <div class="ez-dropdown-items">
        <a (click)="selectItem(ddItem)" [id]="ddItem[uidpn]" *ngFor="let ddItem of ddItems | filter: searchText: ddConfig?.searchBy"
          class="dropdown-item" href="javascript: void(0)">
          {{ddItem[vpn]}}
        </a>
      </div>
    </div>
  </div>
</div>