<form class="mt-2">
    <div class="form-group">
        <div *ngIf="rlsEnabled" class="custom-control custom-switch">
            <input (change)="appUtilService.appData.hasRLS = applyRLS" name="applyRLS" [(ngModel)]="applyRLS"
                type="checkbox" class="custom-control-input" id="applyRLS" />
            <label class="custom-control-label" for="applyRLS">Apply RLS</label>
        </div>
    </div>
    <div *ngIf="applyRLS" class="form-group">
        <label for="customData">Custom Data</label>
        <input name="customData" (change)="appUtilService.appData.cd = customData" [(ngModel)]="customData" type="text"
            class="form-control" id="customData" placeholder="Custom Data" />
    </div>
    <div *ngIf="applyRLS" class="form-group">
        <ez-dropdown [ddItems]="roles" [vpn]="'name'" [uidpn]="'name'" [selectedItem]="selectedRole"
            (onItemChange)="appUtilService.appData.role = $event.dex" [ddlText]="'Select Role'"
            [ddConfig]="{ disabled: customData === '' }">
        </ez-dropdown>
    </div>
    <h6 class="card-subtitle mb-2 mt-4 text-muted">
        Select the 'District' & 'Report'
    </h6>
    <div class="form-group">
        <ez-dropdown [ddItems]="groups" [vpn]="'tenantName'" [uidpn]="'id'" [ddlText]="'Select District'"
            [selectedItem]="selectedGroup" (onItemChange)="selectGroup($event)" [copyTextEnabled]="showCopyBtn"
            [ddConfig]="{searchable: true, disabled: disableDistrictSelector}">
        </ez-dropdown>
    </div>
    <div class="form-group">
        <ez-dropdown [ddItems]="reports" [vpn]="'name'" [uidpn]="'id'" [selectedItem]="selectedReport"
            (onItemChange)="selectReport($event)" [ddlText]="'Select Report'"
            [ddConfig]="{ searchable: true, disabled: disableDashboardSelector, searchBy: 'name' }">
        </ez-dropdown>
    </div>
    <button [disabled]="!this.selectedGroup?.id || !this.selectedReport?.id" (click)="viewDashboard()" type="button"
        class="btn btn-block" [ngClass]="{ 'btn-primary': (!!this.selectedGroup?.id && !!this.selectedReport?.id) }">
        Get Set Go
        <fa class="d-inline-block animated" [ngClass]="{ 'bounceOutRight': isTakenOff, 'bounceInLeft': !isTakenOff }"
            name="fighter-jet">
        </fa>
    </button>
</form>