<form class="mt-2">
    <div class="form-group">
        <ez-dropdown [ddItems]="groups"
            [vpn]="'tanentName'"
            [uidpn]="'id'"
            [ddlText]="'Select District'"
            [selectedItem]="selectedGroup"
            (onItemChange)="selectGroup($event)"
            [ddConfig]="{searchable: true, disabled: disableDistrictSelector}">
        </ez-dropdown>
    </div>
    <div class="form-group">
        <ez-dropdown [ddItems]="reports"
            [vpn]="'name'"
            [uidpn]="'id'"
            [selectedItem]="selectedReport"
            (onItemChange)="selectReport($event)"
            [ddlText]="'Select Report'"
            [ddConfig]="{ searchable: true, disabled: disableDashboardSelector, searchBy: 'name' }">
        </ez-dropdown>
    </div>
    <div class="form-group">
        <div *ngIf="rlsEnabled" class="custom-control custom-checkbox">
            <input (ngModelChange)="onChangeApplyRLS($event)" name="applyRLS" [(ngModel)]="applyRLS" type="checkbox" class="custom-control-input" id="applyRLS">
            <label class="custom-control-label" for="applyRLS">Apply RLS</label>
        </div>
    </div>
    <div *ngIf="applyRLS" class="form-group">
        <label for="customData">Custom Data</label>
        <input name="customData" [(ngModel)]="customData" type="text" class="form-control" id="customData" placeholder="Custom Data">
    </div>
    <div *ngIf="applyRLS" class="form-group">
        <!-- <label for="exampleSelect1">Select Role</label>
        <select [disabled]="customData === ''" name="roleSelector" class="form-control" [(ngModel)]="selectedRole">
            <option *ngFor="let role of roles" [ngValue]="role">
                {{role.name}}
            </option>
        </select> -->
        <ez-dropdown [ddItems]="roles"
            [vpn]="'name'"
            [uidpn]="'name'"
            [selectedItem]="selectedRole"
            [ddlText]="'Select Role'"
            [ddConfig]="{ disabled: customData === '' }">
        </ez-dropdown>
    </div>
    <button (click)="viewDashboard()" type="button" class="btn btn-primary">View Dashboard</button>
</form>