.loggedin-username {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 35px;
}

.app-container {
    height: calc(100% - 54px);

    .screen-height {
        height: calc(100% - 30px);
    }

    .app-sidenav {
        width: 300px;
    }

    .mr-1px {
        margin-right: 1px;
    }

    .ml-1px {
        margin-left: 1px;
    }

    .control-panel-toggle-btn {
        color: #dfdfdf;
        border-color: #dfdfdf;
        top: -1px;
    }

    .dr {
        right: -1px;
    }

    .dl {
        left: -1px;
    }

    .control-panel-toggle-btn:focus {
        outline: 0;
        box-shadow: none;
    }
}
